/* html {
  box-sizing: border-box;
} */

:root {
  --text-color: #212121;
  --subtext-color: #757575;
  --additional-cl: #2196f3;
  --headfooter-bg-cl: #2f303a;
  --main-bg-cl: #ffffff;
  --portfolio-btn-cl: #f5f4fa;
  --logo-text-cl: #000000;
  --additional-bg-cl: #f5f5f5;
  --active-btn-cl: #188ce8;
  --Raleway-txt: "Raleway", sans-serif;
  --Roboro-txt: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-cl);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* width: 1600px;
  margin-right: auto;
  margin-left: auto; */
}

ul {
  list-style: none;
  padding: 0;
}

/* Head-list */

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-conteiner {
  display: flex;
}

.nav {
  margin-right: auto;
  display: flex;
}

.list-nav {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-contact {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.logo-link-text,
.logo-link {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: var(--Raleway-txt);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}

.logo-link {
  color: var(--additional-cl);
}

.logo-link-text {
  display: block;
  margin-right: 93px;
  width: 145px;
  color: var(--logo-text-cl);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--Roboro-txt);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}

.address-link {
  font-family: var(--Roboro-txt);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--main-bg-cl);
  background-color: var(--headfooter-bg-cl);
  text-decoration: none;
}

.list .link.current {
  color: var(--additional-cl);
}

.link:hover,
.link:focus {
  color: var(--additional-cl);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--additional-cl);
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--subtext-color);
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-decoration: none;
  color: var(--subtext-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--additional-cl);
}

/* main-content-one-section */

.main-conteiner {
  text-align: center;
}

.section {
  background-image: url(../images/mainhero-bg.jpg/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--headfooter-bg-cl);
}

.section-title {
  display: inline-block;
  flex-wrap: wrap;
  width: 696px;
  margin-bottom: 30px;
  margin-top: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.section-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  min-width: 216px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--additional-cl);
  color: var(--main-bg-cl);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.section-btn:hover,
.section-btn:focus {
  background-color: var(--active-btn-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* прихованний заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* organization */

.section-org {
  padding-top: 94px;
  padding-bottom: 94px;
}

.org-list-item {
  width: 270px;
  margin-right: 30px;
}

.org-list-item:last-child {
  margin-right: 0;
}

.list-org {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--text-color);
}

.org-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--subtext-color);
}

/* photo-list */

.photo-section {
  padding-bottom: 94px;
}

.photo-title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--text-color);
}

.photo-list {
  display: flex;
  gap: 30px;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* team-card */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--additional-bg-cl);
}

.team-suptitle {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--text-color);
}

.team-list {
  display: flex;
  gap: 30px;
  width: 270;
  margin-top: 0;
  margin-bottom: 0;
}

.list-item {
  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--text-color);
}

.team-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--subtext-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-text {
  font-family: var(--Raleway-txt);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--main-bg-cl);
}

.footer-logo-link {
  margin-bottom: 20px;
  color: var(--additional-cl);
}

.footer-list {
  width: 231px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: var(--headfooter-bg-cl);
}

.address {
  margin-top: 20px;
}

/* portfolio.html */

.list .link.carrent {
  color: var(--additional-cl);
}

.section-port {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-bg-cl);
}

.list-port {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 34px;
  justify-content: center;
}

.port-item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--main-bg-cl);
  background-color: var(--portfolio-btn-cl);
  color: var(--text-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--additional-cl);
  color: var(--main-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* project */

.link-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.caption {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.sup-caption {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.sub-caption {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--subtext-color);
}

.list-proj {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: -30px;
  margin-right: -30px;
}

.proj-item {
  margin-bottom: 30px;
  margin-right: 30px;
  width: calc(100% / 3 - 30px);
}

/* .proj-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .proj-item:nth-child(3n) {
  margin-right: 0;
} */

.proj-link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
